@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.navegacion {
    color: black;
}

.navegacion:hover {
    transform: scale(1) translateX(10px);
    transition: transform 0.2s;
}

.container-home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
}

.nav_bar {
    background-color: #E5E8E8;
}

.imagen_navbar{
    width: 200px;
    margin-left: 40%;
    padding-bottom: 7px;
}
.menu {
    background-color: #E5E8E8;
}

.iconos {
    font-size: 25px;
    margin-left: 20px;
}

h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 25px;
}

.dropdown-item:hover {
    background-color: #fff;
}

.titulos {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

th,
td {
    font-family: "Lato", sans-serif;
    font-style: normal;
}
a, ul li .dropdown-item{
    font-family: "Lato", sans-serif;
}
.modalcliente{
    font-family: "Lato", sans-serif;
}
.container_clientes_angel {
    max-width: 75%;
    margin: 100px auto 0; 
    margin-top: 40px; 
    padding: 30px; 
    box-shadow: 0px 5px 26px 8px rgb(123, 123, 123);
    box-sizing: 1px;
    border: none;
    border-radius: 20px;
  }
  
label.form-label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
input.form-clientes{
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-color: #839192;
}
.container_inventario{
    max-width: 90%;
    margin: 100px auto 0; 
    margin-top: 40px; 
    padding: 30px; 
    box-shadow: 0px 5px 26px 8px rgb(123, 123, 123);
    box-sizing: 1px;
    border: none;
    border-radius: 20px;
}


  

